.entry-banner{
    padding: 15% 15%;
    background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(./images/mathgirl.jpeg); /* Browser prefixes*/
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	padding: 14.7% 0; /* Center contents within the container, make background image cover*/
}

#navbar{
    padding: 1% 5%;
    color: #88c0d0;
}
.entry-banner h1{
    font-size: 120px;
    color: #d8dee9;
}
h1{
    font-size: 50px;
}
#about{
    color: black;

}
.jumbotron{
    padding: 3% 0%;
    background-color: #96bcc7;
    margin: 5% 15%;
    text-align: center;
    border-radius: 8px;

}
.title{
    padding: 3% 0%
}
.card-deck{
    margin: 3% 0%;
}

body{
    background-color:rgb(33, 37, 41);
    color: #88c0d0;
}
.partner{
    margin-top: 5%;
}

.contact-form-body{
    background-color: #aceda4;
    color: #5d5c61;
    margin: 5% 10%;
    padding: 2%;
    border-radius: 8px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
